@using Sitecore.Globalization
@model Sam.ToolStockSc.Web.Areas.Project.ToolStockSc.Models.ViewModels.ChangePasswordViewModel

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal col" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="row form-group">
        <div class="col col-md-3">
            <label class="form-control-label" for=@Model.OldPassword>@Html.Glass().Editable(Model.ScModel, m => m.OldPasswordField)</label>
            @*@Html.LabelFor(m => m.OldPassword, Resources.Resource.OldPassword, new { @class = "form-control-label" })*@
        </div>
        <div class="col-12 col-md-9">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = Model.ScModel.OldPasswordField })
            <small class="help-block form-text">@Html.Glass().Editable(Model.ScModel, m => m.OldPasswordHelpText)</small>
        </div>
    </div>
    <div class="row form-group">
        <div class="col col-md-3">
            <label class="form-control-label" for=@Model.NewPassword>@Html.Glass().Editable(Model.ScModel, m => m.NewPasswordField)</label>
            @*@Html.LabelFor(m => m.NewPassword, Resources.Resource.NewPassword, new { @class = "form-control-label" })*@
        </div>
        <div class="col-12 col-md-9">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = Model.ScModel.NewPasswordField })
            <small class="help-block form-text">@Html.Glass().Editable(Model.ScModel, m => m.NewPasswordHelpText)</small>
        </div>
    </div>
    <div class="row form-group">
        <div class="col col-md-3">
            <label class="form-control-label" for=@Model.ConfirmPassword>@Html.Glass().Editable(Model.ScModel, m => m.ConfirmPasswordField)</label>
            @*@Html.LabelFor(m => m.ConfirmPassword, Resources.Resource.ConfirmPassword, new { @class = "form-control-label" })*@
        </div>
        <div class="col-12 col-md-9">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Model.ScModel.ConfirmPasswordField })
            <small class="help-block form-text">@Html.Glass().Editable(Model.ScModel, m => m.ConfirmPasswordHelpText)</small>
        </div>
    </div>
    <div class="form-actions form-group">
        <button type="submit" class="btn btn-outline-secondary btn-block">@Translate.Text("Account.ChangePassword")</button>
    </div>
}
