@model Sam.ToolStockSc.Web.Areas.Project.ToolStockSc.Models.ViewModels.LoginViewModel
@using Sitecore.Globalization

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, @Translate.Text("Account.ErrorOfLogIn"), new { @class = "alert alert-danger" })

    <div class="form-group row">
        @Html.LabelFor(m => m.Email, Model.EmailField, new { @class = "col-sm-3 col-form-label" })
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Model.EmailField })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
        @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
        {
            <spam>Editable field <b>Email</b></spam> @: @Html.Glass().Editable(m => m.EmailField)
        }
    </div>
    <div class="form-group row">
        @Html.LabelFor(m => m.Password, Model.PasswordField, new { @class = "col-sm-3 col-form-label" })
        <div class="col-sm-9">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Model.PasswordField })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
        @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
        {
            <spam>Editable field <b>Password</b></spam> @: @Html.Glass().Editable(m => m.PasswordField)
        }
    </div>
    <div class="form-group row">
        <div class="col-sm-5">
            <button type="submit" class="btn btn-primary">@Translate.Text("Account.LogIn")</button>
        </div>
        <div class="col-sm-7 align-middle text-right">
            @Html.Sitecore().Placeholder("Home page link")
        </div>
    </div>
}
