@model Sitecore.Security.Accounts.User
@using Sitecore.Globalization


<div id="setting" class="user-area dropdown float-right">
    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        @Model.Profile.GetCustomProperty("UserName") @Model.Profile.GetCustomProperty("Surname")
    </a>
    @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
    {
        <div class="user-menu dropdown-menu show">
            @Html.Sitecore().DynamicPlaceholder("Nav Link")
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()

                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                    <i class="fa fa-power-off"></i>@Translate.Text("Account.LogOut")
                </a>
            }
        </div>
    }
    else
    {
        <div class="user-menu dropdown-menu">
            @Html.Sitecore().DynamicPlaceholder("Nav Link")
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()

                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                    <i class="fa fa-power-off"></i>@Translate.Text("Account.LogOut")
                </a>
            }
        </div>
    }
</div>
