@using Sitecore.Globalization
@model IList<Sam.ToolStockSc.Web.Areas.Project.ToolStockSc.Models.ViewModels.ToolCountViewModel>

<div class="accordion" id="accordionExample275">
    @{
        if (Model.Count == 0 || Sitecore.Context.PageMode.IsExperienceEditorEditing)
        {
            <div class="card">
                <div class="card-header text-center">
                    @Translate.Text("Searching.NothingFound")
                </div>
            </div>
        }
        else
        {
            if (Model != null)
            {
                for (var i = 0; i < Model.Count; i++)
                {
                    var tool = Model[i];
                    var headingId = "h" + i;
                    var collapseId = "c" + i;
                    <div class="card z-depth-0 bordered">
                        <div class="card-header" id=@headingId>
                            <div class="row">
                                <div class="col-3">
                                    <button class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#@collapseId"
                                            aria-expanded="true" aria-controls=@collapseId>
                                        <strong>@Translate.Text("Searching.Name"):</strong> @tool.Name
                                    </button>
                                </div>
                                <div class="col-3">
                                    @Translate.Text("Searching.Manufacturer"): @tool.Manufacturer
                                </div>
                                <div class="col-4">
                                    @Translate.Text("Searching.ToolType"): @tool.ToolTypeName
                                </div>
                                <div class="col-2">
                                    <p class="text-right">
                                        @Translate.Text("Searching.Amount"): <span class="badge badge-primary">@tool.Count</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div id=@collapseId class="collapse" aria-labelledby=@headingId data-parent="#accordionExample275">
                            <div class="card-body">
                                <div class="row">
                                    @{
                                        var active = "active";
                                        var show = "show";
                                        var listTab = "list-tab" + i;
                                        var navTabContent = "nav-tabContent" + i;
                                    }
                                    <div class="col-3">
                                        <div class="list-group" id=@listTab role="tablist">
                                            @for (var j = 0; j < tool.StockCountViewModels.Count; j++)
                                            {
                                                var stock = tool.StockCountViewModels[j];
                                                var id = string.Format("list-stock{0}{1}-list", i, j);
                                                var href = string.Format("#list-stock{0}{1}", i, j);
                                                var ariaControls = string.Format("stock{0}{1}", i, j);

                                                <a class="list-group-item list-group-item-info @active" id=@id data-toggle="list" href=@href role="tab" aria-controls=@ariaControls>
                                                    @stock.Name <span class="badge badge-secondary">@stock.ToolAmount</span>
                                                </a>

                                                active = "";
                                            }
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <div class="tab-content" id=@navTabContent>
                                            @{
                                                active = "active";
                                                for (var j = 0; j < tool.StockCountViewModels.Count; j++)
                                                {
                                                    var stock = tool.StockCountViewModels[j];
                                                    var id = string.Format("list-stock{0}{1}", i, j);
                                                    var ariaLabelledby = string.Format("list-stock{0}{1}-list", i, j);

                                                    <div class="tab-pane fade @show @active" id=@id role="tabpanel" aria-labelledby=@ariaLabelledby>
                                                        <div class="row alert-warning border">
                                                            <div class="col-4">
                                                                @if (stock.InStockToolAmount == 0)
                                                                {
                                                                    <strong>@Translate.Text("Searching.InTheStock"): </strong>
                                                                    <span class="badge badge-warning">@stock.InStockToolAmount</span>
                                                                }
                                                                else
                                                                {
                                                                    <div class="row">
                                                                        <div class="col">
                                                                            <div class="row">
                                                                                <div class="col">
                                                                                    <strong>@Translate.Text("Searching.InTheStock"): </strong> <span class="badge badge-warning">@stock.InStockToolAmount</span>
                                                                                </div>
                                                                            </div>
                                                                            @if (Sitecore.Security.Accounts.User.Current.IsInRole("extranet\\Keeper"))
                                                                            {
                                                                                <div class="row">
                                                                                    <div class="col btn-group">
                                                                                        <a href='@tool.UrlToIssue?toolName=@tool.Name&stockId=@stock.StockId&maxAmount=@stock.InStockToolAmount' class="btn btn-primary btn-sm" data-toggle-second="tooltip" data-placement="top" title="@Translate.Text("Searching.IssueTool")">
                                                                                            <i class="fa fa-share"></i>
                                                                                        </a>
                                                                                        <a href='@tool.UrlToRepair?toolName=@tool.Name&stockId=@stock.StockId&maxAmount=@stock.InStockToolAmount' class="btn btn-primary btn-sm" data-toggle-second="tooltip" data-placement="top" title="@Translate.Text("Searching.GiveInForRepair")">
                                                                                            <i class="fa fa-wrench"></i>
                                                                                        </a>
                                                                                        <a href=@Url.Action("WriteOff", new {toolName = tool.Name, stockId = stock.StockId, maxAmount = stock.InStockToolAmount}) class="btn btn-primary btn-sm" data-toggle-second="tooltip" data-placement="top" title="@Translate.Text("Searching.WriteOff")">
                                                                                            <i class="fa fa-gavel"></i>
                                                                                        </a>
                                                                                        <a href=@Url.Action("MoveToStock", new {toolName = tool.Name, stockId = stock.StockId, maxAmount = stock.InStockToolAmount}) class="btn btn-primary btn-sm" data-toggle-second="tooltip" data-placement="top" title="@Translate.Text("Searching.MoveToStock")">
                                                                                            <i class="fa fa-exchange"></i>
                                                                                        </a>
                                                                                    </div>
                                                                                </div>
                                                                            }
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                            <div class="col-4">
                                                                @if (stock.UnderRepairToolAmount == 0 || !Sitecore.Security.Accounts.User.Current.IsInRole("extranet\\Keeper"))
                                                                {
                                                                    <strong>@Translate.Text("Searching.UnderRepair"): </strong> <span class="badge badge-warning">@stock.UnderRepairToolAmount</span>
                                                                }
                                                                else
                                                                {
                                                                    <strong>@Translate.Text("Searching.UnderRepair"): </strong> <span class="badge badge-warning">@stock.UnderRepairToolAmount</span>
                                                                    <a href=@Url.Action("ReturnFromRepair", new {toolName = tool.Name, stockId = stock.StockId, maxAmount = stock.UnderRepairToolAmount}) class="btn btn-primary btn-sm" data-toggle-second="tooltip" data-placement="top" title="@Translate.Text("Searching.ReturnFromRepair")">
                                                                        <i class="fa fa-reply-all"></i>
                                                                    </a>
                                                                }
                                                            </div>
                                                            <div class="col-4">
                                                                <strong>@Translate.Text("Searching.WrittenOff"): </strong> <span class="badge badge-warning">@stock.WrittenOffToolAmount</span>
                                                            </div>
                                                        </div>
                                                        <div class="row alert-success border">
                                                            <div class="col-4 text-right">
                                                                <strong>@Translate.Text("Searching.IssuedToUser"): </strong> <span class="badge badge-warning">@stock.IssuedToUserToolAmount</span>
                                                            </div>
                                                            <div class="col-4">
                                                                <ul>
                                                                    @foreach (var user in stock.UserCountViewModels)
                                                                    {
                                                                        <li>
                                                                            @user.FullName<span class="badge badge-warning">@user.ToolAmount</span>
                                                                            @if (Sitecore.Security.Accounts.User.Current.IsInRole("extranet\\Keeper"))
                                                                            {
                                                                                <a href=@Url.Action("ReturnFromUser", new {toolName = tool.Name, stockId = stock.StockId, maxAmount = user.ToolAmount, userId = user.UserId}) class="btn btn-primary btn-sm" data-toggle-second="tooltip" data-placement="top" title="@Translate.Text("Searching.ReturnFromUser")">
                                                                                    <i class="fa fa-reply"></i>
                                                                                </a>
                                                                            }
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    active = "";
                                                    show = "";
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    }
</div>
